[submodule "nixos/path/nixos-unstable"]
	path = nixos/path/nixos-unstable
	url = https://github.com/NixOS/nixpkgs-channels
	branch = nixos-unstable
[submodule "nixos/path/nixpkgs-unstable"]
	path = nixos/path/nixpkgs-unstable
	url = https://github.com/NixOS/nixpkgs-channels
	branch = nixpkgs-unstable
[submodule "nixos/path/nixos-16.09"]
	path = nixos/path/nixos-16.09
	url = https://github.com/NixOS/nixpkgs-channels
	branch = nixos-16.09
