! ~/.Xresources
! Xcursor.size: 64
! Xcursor.theme: Vanilla-DMZ-AA

*utf8: 1

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!! Xft
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
! Xft.dpi: 120

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!! Xterm
xterm*loginShell: true

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!! URxvt
URxvt*saveLines: 12000
URxvt*reverseVideo: false
URxvt*loginShell: true
URxvt.urgentOnBell: true
URxvt*termName: rxvt-256color

!! URxvt -> style
URxvt*scrollBar: false
URxvt*scrollBar_right: false
URxvt*scrollstyle: plain
URxvt.internalBorder: 0
URxvt.externalBorder: 0

URxvt*transparent: true
URxvt.shading: 20

URxvt*fading:  30

URxvt.depth: 32
URxvt.background: #2e3436
URxvt.foreground: #eeeeec
URxvt.color4: RoyalBlue
URxvt.color12: RoyalBlue

!! URxvt -> font
URxvt.font:             xft:inconsolata:pixelsize=19:antialias=true:hinting=true,             xft:DejaVu Sans Mono:pixelsize=17:antialias=true:hinting=true
URxvt.boldFont:         xft:inconsolata:bold:pixelsize=19:antialias=true:hinting=true,        xft:DejaVu Sans Mono:bold:pixelsize=16:antialias=true:hinting=true
URxvt.italicFont:       xft:inconsolata:italic:pixelsize=19:antialias=true:hinting=true,      xft:DejaVu Sans Mono:italic:pixelsize=17:antialias=true:hinting=true
URxvt.bolditalicFont:   xft:inconsolata:bold:italic:pixelsize=19:antialias=true:hinting=true, xft:DejaVu Sans Mono:bold:italic:pixelsize=17:antialias=true:hinting=true
! xft:Iosevka:pixelsize=17:antialias=true:hinting=true,
! xft:Iosevka:bold:pixelsize=17:antialias=true:hinting=true,
! xft:Iosevka:italic:pixelsize=17:antialias=true:hinting=true,
! xft:Iosevka:bold:italic:pixelsize=17:antialias=true:hinting=true,

!! URxvt -> libs
urxvt.perl-lib: /usr/lib/urxvt/perl/
urxvt.perl-ext-common:  default,matcher,tabbed,font-size,clipboard,url-select,keyboard-select
urxvt.matcher.button:   1
URxvt.tabbed.tabbar-fg: 8
URxvt.tabbed.tabbar-bg: 0
URxvt.tabbed.tab-fg:    2
URxvt.tabbed.tab-bg:    0

URxvt.keysym.C-Up:     perl:font-size:increase
URxvt.keysym.C-Down:   perl:font-size:decrease
URxvt.keysym.C-S-Up:   perl:font-size:incglobal
URxvt.keysym.C-S-Down: perl:font-size:decglobal

URxvt.urlLauncher:          qutebrowser
URxvt.url-select.launcher:  qutebrowser
URxvt.url-select.underline: true
URxvt.keysym.M-u:           perl:url-select:select_next
URxvt.keysym.M-Escape:      perl:keyboard-select:activate
URxvt.keysym.M-s:           perl:keyboard-select:search
