* {
    border: none;
    border-radius: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: linear-gradient(90deg, rgba(43, 48, 59, 0.5), rgba(43, 48, 59, 0));
    color: #e0cbc7;
}

tooltip {
    background: rgba(43, 48, 59, 0.5);
    border: 1px solid rgba(100, 114, 125, 0.5);
    border-radius: 7px;
}

tooltip label {
    color: #e0cbc7;
}

#battery,
#backlight,
#network,
#pulseaudio,
#bluetooth,
#custom-platform_profile,
#tray,
#custom-audio_idle_inhibitor,
#mode,
#window,
button, #tags button, #workspaces button, #custom-dwl_tag, #taskbar button 
{
    padding: 2px 0;
    background: transparent;
    color: #e0cbc7;
    border-radius: 0px 7px 7px 0px;
}

#battery {
    padding-top: 11px;
}

#taskbar button,
#tags button,
#custom-dwl_tag,
#workspaces button {
    border-bottom: 3px solid transparent;
}
#tags button,
#custom-dwl_tag,
#workspaces button {
    min-width: 25px;
}

#pulseaudio:hover,
#network:hover,
#bluetooth.on,
#battery {
    background-color: #ffffff;
    color: black;
}

#bluetooth.connected,
#battery.charging {
    background-color: #26a65b;
    color: white;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#custom-platform_profile.balanced {
    background: #ee9a00;
    color: black;
}

#custom-platform_profile.low-power {
    background: #f53c3c;
}

#battery.warning:not(.charging) {
    background: #ee9a00;
}

#battery.critical:not(.charging),
#custom-test_for_missing_tb_changing.error {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tags button.focused,
#custom-dwl_tag.focused,
#workspaces button.focused {
    background: rgba(43, 48, 59, 0.5);
    border-right: 2px solid #e0cbc7;
    border-left: 2px solid #e0cbc7;
    padding-left: 0px;
    padding-right: 0px;
}

#workspaces button.empty {
    color: gray;
}

#taskbar button.active,
#tags button.occupied,
#custom-dwl_tag.occupied,
#workspaces button.active,
#window.focused {
    border-bottom: 3px solid #e0cbc7;
}

#window:not(.focused) {
    border-bottom: 3px solid transparent;
}

@keyframes blink-border {
    to {
        border-bottom: 3px solid #ee9a00;
    }
}
#custom-dwl_tag.urgent,
#tags button.urgent {
    animation-name: blink-border;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


#idle_inhibitor {
    background: rgba(43, 48, 59, 0.5);
    border-top: 2px solid #e0cbc7;
    border-right: 3px solid #e0cbc7;
    border-radius: 0px 14px 0px 0px;
}
#clock,
#custom-audio_idle_inhibitor,
#tray {
    background: rgba(43, 48, 59, 0.5);
    border-right: 3px solid #e0cbc7;
    border-radius: 0px 0px 0px 0px;
}
#clock{
  padding: 15px 0;
}

#idle_inhibitor {
    min-height: 25px;
    padding-top: 3px;
}

#idle_inhibitor.deactivated {
    /* background-color: #1F2C36; */
    color: rgb(43, 48, 59);
}

#hardware, .vertical {
    font-size: 0.4em;
}
