* {
    border: none;
    border-radius: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: linear-gradient(90deg, rgba(43, 48, 59, 0.5), rgba(43, 48, 59, 0));
    color: #e0cbc7;
}

.modules-center {
    background: rgba(43, 48, 59, 0.5);
    border-top: 2px solid #e0cbc7;
    border-right: 3px solid #e0cbc7;
    border-bottom: 2px solid #e0cbc7;
    border-radius: 0px 14px 12px 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.modules-left {
  padding-top: 10px;
}
.modules-right {
  padding-bottom: 10px;
}
.modules-right > widget > * {
    border-top: 3px solid #e0cbc7;
    padding-top: 5px;
    border-radius: 0px 7px 0px 0px;
}

tooltip {
    background: rgba(43, 48, 59, 0.5);
    border: 1px solid rgba(100, 114, 125, 0.5);
    border-radius: 7px;
}

tooltip label {
    color: #e0cbc7;
}

#backlight,
#network,
#pulseaudio,
#custom-audio_idle_inhibitor,
#mode,
#window,
button, #tags button, #workspaces button, #custom-dwl_tag, #taskbar button 
{
    padding: 2px 0;
    background: transparent;
    color: #e0cbc7;
}

#network,
#battery {
    padding-top: 11px;
}

#taskbar button,
#tags button,
#custom-dwl_tag,
#workspaces button {
    border-bottom: 3px solid transparent;
    border-radius: 0px 0px 7px 0px;
}
#tags button,
#custom-dwl_tag,
#workspaces button {
    min-width: 25px;
}

#pulseaudio:hover,
#network:hover,
#battery {
    background: linear-gradient(90deg, rgba(43, 48, 59, 0.5), rgba(80,80,80, 1));
}

#idle_inhibitor.activated,
#battery.charging {
    background: linear-gradient(90deg, rgba(14, 65, 35, 0.5), rgba(43, 48, 59, 0));
    color: white;
}

#custom-platform_profile, #power-profiles-daemon {
  padding-top: 5px;
  padding-bottom: 5px;
}

#power-profiles-daemon.performance {
}

#custom-platform_profile.balanced, #power-profiles-daemon.balanced {
    background: #ee9a00;
    color: black;
}

#custom-platform_profile.low-power, #power-profiles-daemon.power-saver {
    background: #f53c3c;
}

#battery.warning:not(.charging),
#systemd-failed-units.degraded {
    background: #ee9a00;
    color: black;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}
#battery.critical:not(.charging),
#custom-test_for_missing_tb_changing.error {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tags button.focused,
#custom-dwl_tag.focused,
#workspaces button.focused {
    background: rgba(43, 48, 59, 0.5);
    /* border-right: 2px solid #e0cbc7;
    border-left: 2px solid #e0cbc7; */
    /* padding-left: 0px;
    padding-right: 0px; */
}

#workspaces button.empty {
    color: gray;
}

#taskbar button.active,
#tags button.occupied,
#custom-dwl_tag.occupied,
#workspaces button.active,
#window.focused {
    border-bottom: 3px solid #e0cbc7;
}

#window:not(.focused) {
    border-bottom: 3px solid transparent;
}

@keyframes blink-border {
    to {
        border-bottom: 3px solid #ee9a00;
    }
}
#custom-dwl_tag.urgent,
#tags button.urgent {
    animation-name: blink-border;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-isvpn {
    background: #ee9a00;
    color: black;
    font-size: 0.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}



#idle_inhibitor {
    min-height: 25px;
}

#idle_inhibitor.deactivated {
    /* background-color: #1F2C36; */
    color: rgb(43, 48, 59);
}

#hardware, .vertical {
    font-size: 0.4em;
}
