/* ############################################################################
 * Base styling for waybar
 */ 

@define-color white	#e0cbc7;
@define-color black	#282828;
@define-color transparentgray rgba(43, 48, 59, 0.5);
@define-color invisiblegray rgba(43, 48, 59, 0);
@define-color transparentorange rgba(238, 154, 0, 0.5);
@define-color red #f53c3c;
@define-color orange #ee9a00;

@define-color border @white;
@define-color font @white;
@define-color background @transparentgray;
@define-color highlight @transparentorange;
@define-color error @red;

* {
    border: none;
    border-radius: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
    min-width: 0;
	margin: 0;
	padding: 0;
	box-shadow: none;
	text-shadow: none;
	icon-shadow: none;
}
window#waybar {
    color: @font;
    background: linear-gradient(90deg, @transparentgray, @invisiblegray);
}
window.eDP-1 * { font-size: 12px; }

.modules-center {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.modules-left,
.modules-right,
.modules-center {
    background: @background;
    padding-top: 15px;
    padding-bottom: 15px;
}

.modules-left,
.modules-center {
    border-bottom: 4px solid @border;
    border-bottom-right-radius: 8px;
}

.modules-right,
.modules-center {
    border-top: 4px solid @border;
    border-top-right-radius: 8px;
}

.modules-right>widget>* {
    padding-top: 5px;
    /* border-radius: 0px 7px 0px 0px; */
}

tooltip {
    background: @transparentgray;
    border: 1px solid rgba(100, 114, 125, 0.5);
    /* border-radius: 7px; */
}

tooltip label {
    color: @font;
}

/* ############################################################################
 * Base styling
 */ 

#backlight,
#network,
#pulseaudio,
#custom-audio_idle_inhibitor,
#mode,
#window,
button,
#tags button,
#workspaces button,
#custom-dwl_tag,
#taskbar button,
#idle_inhibitor,
#battery,
#systemd-failed-units,
#power-profiles-daemon {
    padding: 0 0;
    color: @font;
    min-width: 16px;
    min-height: 16px;
}

button {
    border-right: 4px solid transparent; 
    /* border-radius: 0px 7px 7px 0px; */
}

#network,
#pulseaudio,
#backlight,
#battery {
    padding-top: 7px;
}

#custom-platform_profile,
#power-profiles-daemon {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 0.8em;
}

#workspaces button.empty {
    color: rgb(43, 48, 59);
}

#custom-isvpn,
#idle_inhibitor,
#systemd-failed-units {
    font-size: 0.7em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

/* ############################################################################
 * Workspace and Windows styling
 */ 

#tags button.focused,
#custom-dwl_tag.focused,
#workspaces button.focused,
#window.focused {
    background: @highlight;
    border-right: 4px solid @border;
    color: @black;
}

#taskbar button.active,
#tags button.occupied,
#custom-dwl_tag.occupied,
#workspaces button.active:not(.focused):not(.empty) {
    border-right: 4px solid @border;
    background: linear-gradient(90deg, @transparentgray, @highlight);
}

/* ############################################################################
 * Warning styling for buttons
 */ 

#battery.warning:not(.charging),
#custom-platform_profile.balanced,
#power-profiles-daemon.balanced,
#idle_inhibitor.activated,
#custom-isvpn,
.warning {
    background: @highlight;
    color: @black;
}

#systemd-failed-units.degraded{
    color: @orange;
}

/* ############################################################################
 * Critical and urgent styling for buttons
 */ 

#custom-platform_profile.low-power,
#power-profiles-daemon.power-saver {
    background: @error;
}

@keyframes blink {
    to {
        background-color: @white;
        color: @black;
    }
}

#battery.critical:not(.charging),
#custom-test_for_missing_tb_changing.error,
#tray > .needs-attention,
.error {
    background: @error;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink-border {
    to {
        border-bottom: 4px solid @orange;
    }
}

#custom-dwl_tag.urgent,
#taskbar button.minimized,
#tags button.urgent {
    animation-name: blink-border;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
