/* ############################################################################
 * Base styling for waybar
 */ 

* {
    border: none;
    border-radius: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}
window#waybar {
    color: #e0cbc7;
    background: linear-gradient(90deg, rgba(43, 48, 59, 0.5), rgba(43, 48, 59, 0));
}
window.eDP-1 * { font-size: 12px; }

.modules-center {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.modules-left,
.modules-right,
.modules-center {
    background: rgba(43, 48, 59, 0.5);
}

.modules-left,
.modules-center {
    padding-top: 10px;
    border-bottom: 2px solid #e0cbc7;
    /* border-bottom-right-radius: 14px; */
}

.modules-right,
.modules-center {
    padding-bottom: 10px;
    border-top: 2px solid #e0cbc7;
    /* border-top-right-radius: 14px; */
}

.modules-right>widget>* {
    padding-top: 5px;
    /* border-radius: 0px 7px 0px 0px; */
}

tooltip {
    background: rgba(43, 48, 59, 0.5);
    border: 1px solid rgba(100, 114, 125, 0.5);
    /* border-radius: 7px; */
}

tooltip label {
    color: #e0cbc7;
}

/* ############################################################################
 * Base styling
 */ 

#backlight,
#network,
#pulseaudio,
#custom-audio_idle_inhibitor,
#mode,
#window,
button,
#tags button,
#workspaces button,
#custom-dwl_tag,
#taskbar button,
#idle_inhibitor,
#battery,
#systemd-failed-units,
#power-profiles-daemon {
    padding: 0 0;
    color: #e0cbc7;
    min-width: 20px;
    min-height: 20px;
}

button {
    border-right: 3px solid transparent; 
    /* border-radius: 0px 7px 7px 0px; */
}

#network,
#pulseaudio,
#backlight,
#battery {
    padding-top: 7px;
}

#custom-platform_profile,
#power-profiles-daemon {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 0.8em;
}

#idle_inhibitor.deactivated,
#workspaces button.empty,
.okay {
    color: rgb(43, 48, 59);
}

#custom-isvpn,
#systemd-failed-units {
    font-size: 0.7em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

/* ############################################################################
 * Workspace and Windows styling
 */ 

#tags button.focused,
#custom-dwl_tag.focused,
#workspaces button.focused,
#window.focused {
    background: rgba(238, 154, 0, 0.5);
    border-right: 3px solid #e0cbc7;
}

#taskbar button.active,
#tags button.occupied,
#custom-dwl_tag.occupied,
#workspaces button.active:not(.focused):not(.empty) {
    border-right: 3px solid #e0cbc7;
}

/* ############################################################################
 * Warning styling for buttons
 */ 

#battery.warning:not(.charging),
#custom-platform_profile.balanced,
#power-profiles-daemon.balanced,
#custom-isvpn,
.warning {
    background: rgba(238, 154, 0, 0.5);
    color: black;
}

#systemd-failed-units.degraded{
    color: #ee9a00;
}

/* ############################################################################
 * Critical and urgent styling for buttons
 */ 

#custom-platform_profile.low-power,
#power-profiles-daemon.power-saver {
    background: #f53c3c;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.critical:not(.charging),
#custom-test_for_missing_tb_changing.error,
#tray > .needs-attention,
.error {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink-border {
    to {
        border-bottom: 3px solid #ee9a00;
    }
}

#custom-dwl_tag.urgent,
#taskbar button.minimized,
#tags button.urgent {
    animation-name: blink-border;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
